/*@font-face {
    font-family: 'font_name';
    font-style: normal;
    font-weight: 400;
    src: url() format('woff');
}

.font_name {
    font-family: 'font_name';
}
*/

html,
body {
    font-family: 'font_name';
}

.Tilt_Warp {
    font-family: 'Tilt Warp';
}

.Noto_Sans_JP {
    font-family: 'Noto Sans JP',
}