@charset "UTF-8";
@font-face {
    font-family: 'tegaki';
    font-style: normal;
    font-weight: 400;
    src: url(https://anto565.github.io/font/yosugara.woff) format('woff');
}

.tegaki {
    font-family: 'tegaki';
}

@font-face {
    font-family: 'gosic';
    font-style: normal;
    font-weight: 400;
    src: url(https://anto565.github.io/font/YasashisaGothicBold-V2.woff) format('woff');
}

html,
body {
    font-family: 'gosic';
}

@font-face {
    font-family: 'kowai';
    font-style: normal;
    font-weight: 400;
    src: url(https://anto565.github.io/font/g_comichorrorR_freeR.woff) format('woff');
}

.kowai {
    font-family: 'kowai';
}