@charset "UTF-8";
@font-face {
    font-family: 'tegaki';
    font-style: normal;
    font-weight: 400;
    src: url(/font/yosugara.woff) format('woff');
}

.tegaki {
    font-family: 'tegaki';
}

@font-face {
    font-family: 'gosic';
    font-style: normal;
    font-weight: 400;
    src: url(/font/YasashisaGothicBold-V2.woff) format('woff');
}

html,
body {
    font-family: 'gosic';
}

@font-face {
    font-family: 'kowai';
    font-style: normal;
    font-weight: 400;
    src: url(/font/g_comichorrorR_freeR.woff) format('woff');
}

.kowai {
    font-family: 'kowai';
}

@font-face {
    font-family: 'LightNovelPOPv2';
    font-style: normal;
    font-weight: 400;
    src: url(/font/LightNovelPOPv2.woff) format('woff');
}

.LightNovelPOPv2 {
    font-family: 'LightNovelPOPv2';
}

@font-face {
    font-family: 'framboiseB';
    font-style: normal;
    font-weight: 400;
    src: url(/font/framboiseB.woff) format('framboiseB');
}

.framboiseB {
    font-family: 'framboiseB';
}